.about-section {
  width: 100%;
  padding: 130px 80px 80px;
  background: #ffffff;
}

.about-container {
  display: flex;
  gap: 80px;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.about-image {
   width: 522px;
  height: 542px;
  border-radius: 24px;
  overflow: hidden;
  opacity: 1;
}

.about-image img {
  width: 100%;
  height: 100%;
object-fit: cover;
  }

.about-content {
  max-width: 520px;
}

.about-badge {
  display: inline-block;
  padding: 6px 14px;
  border-radius: 20px;
  background: #f3fdf7;
  color: #2ecc71;
  font-size: 14px;
  margin-bottom: 20px;
}

.about-content h2 {
  color: black;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.about-content p {
  font-size: 16px;
  line-height: 1.7;
  color: #555;
  margin-bottom: 16px;
}

.about-btn {
  margin-top: 20px;
  background: #2ecc71;
  color: white;
  border: none;
  padding: 14px 28px;
  border-radius: 30px;
  font-size: 15px;
  cursor: pointer;
}


.about-stats {
  margin-top: 60px;
  max-width: 700px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.about-stats h3 {
  font-size: 36px;
  margin-bottom: 6px;
  color: #000;
}

.about-stats span {
  font-size: 14px;
  color: #666;
}

.divider {
  width: 1px;
  height: 100px;
  background: #ddd;
}
