.companies-section { 
min-height: 100vh;
  width: 100%;
  padding: 100px 80px;  background-color: #f8f9fa;
  text-align: center;
  font-family: 'Inter', sans-serif;
}

.header-text h2 {
  font-size: 2.5rem;
  margin-bottom: 15px;
  color: #111;
}

.header-text p {
  color: #666;
  max-width: 600px;
  margin: 0 auto 50px auto;
  line-height: 1.5;
}

.company-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 25px;
  max-width: 1000px;
  margin: 0 auto 40px auto;
  color: black;
}

.company-card {
  background: white;
  padding: 30px;
  border-radius: 20px;
  text-align: left;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  position: relative;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.card-header h3 {
  font-size: 1.3rem;
  margin: 0;
}

.badge-icon {
  background: #eefdf3;
  color: #38b36a;
  padding: 8px;
  border-radius: 50%;
  font-size: 14px;
}

.rating {
  margin-bottom: 15px;
  font-size: 0.9rem;
}

.star { color: #111; margin-right: 5px; }
.reviews { color: #888; margin-left: 5px; }

.details p {
  margin: 8px 0;
  font-size: 0.9rem;
  color: #555;
}

.specialties-label {
  margin: 20px 0 10px 0;
  font-weight: 600;
  font-size: 0.85rem;
}

.tags {
  display: flex;
  gap: 8px;
  margin-bottom: 25px;
}

.tags span {
  background: #eefdf3;
  color: #38b36a;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 0.8rem;
  font-weight: 500;
}

.quote-btn {
  width: 100%;
  padding: 12px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

.quote-btn.primary {
  background-color: #3bb76d;
  color: white;
  border: none;
}

.quote-btn.secondary {
  background: white;
  color: #111;
  border: 1px solid #ddd;
}

.quote-btn:hover {
  opacity: 0.9;
}

.show-more-btn {
  background: #111;
  color: white;
  padding: 12px 30px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

@media (max-width: 880px) {
  .company-grid {
    grid-template-columns: 1fr;
  }
}
