.hero {
  width: 100%;
  padding: 130px 80px 80px;
  min-height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.hero-bg {
  position: absolute;
  inset: 0;
  width: 110.5%;
  height: 135%;
  object-fit: cover;
  z-index: -2;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(24, 28, 41, 0.5),
    rgba(24, 28, 41, 0.3)
  );
  z-index: -1;
}

/* ================= NAVBAR ================= */

.hero-nav {
  position: absolute;
  top: 30px;
  left: 80px;
  right: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: 700;
  color: #3fc36d;
}

.nav-center {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(10px);
  border-radius: 60px;
  padding: 14px 30px;
  display: flex;
  gap: 24px;
}

.nav-center button {
  background: none;
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  opacity: 0.8;
}

.nav-center button.active {
  opacity: 1;
  border-bottom: 2px solid white;
  padding-bottom: 4px;
}

.nav-cta {
  background: white;
  color: black;
  border: none;
  padding: 12px 22px;
  border-radius: 40px;
  cursor: pointer;
  font-weight: 500;
}

/* ================= HERO CONTENT ================= */

.hero-content {
  max-width: 600px;
  margin-top: 120px;
}

.hero-content h1 {
  font-size: 64px;
  line-height: 1.1;
  margin-bottom: 24px;
  font-weight: 600;
}

.hero-content p {
  font-size: 18px;
  line-height: 1.6;
  color: #e0e0e0;
  margin-bottom: 40px;
}

/* ================= BUTTONS ================= */

.hero-actions {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.btn-primary {
  width: 300px;
  background: #3fc36d;
  color: white;
  border: none;
  padding: 16px 34px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
}

.btn-secondary {
    width: 300px;
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid white;
  color: white;
  padding: 16px 34px;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  backdrop-filter: blur(6px);
}


.hero-badges {
  display: flex;
  align-items: center;
  gap: 20px;              
  width: 650px;          
  height: 42px;
  opacity: 1;
  margin-top: 20px;
}

.hero-badges span {
  font-size: 20px;
  opacity: 0.9;
  align-items: center;
  gap: 3px;
  padding-left: 5px;
  padding-right: 5px ;
}

.hero-badges img {
  width: 16px;
  height: 16px;
}
