.services-section { 
  min-height: 100vh;
  width: 100%;
  padding: 100px 80px;
  background: #ffffff;
}


.services-header {
  max-width: 1200px;
  margin: 0 auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.services-header h2 {
  color: black;
  font-size: 44px;
  font-weight: 600;
  line-height: 1.2;
}

.services-text {
  max-width: 420px;
}

.services-text h4 {
  font-size: 16px;
  margin-bottom: 10px;
}

.services-text p {
  font-size: 15px;
  line-height: 1.6;
  color: #666;
}

.services-divider {
  max-width: 1200px;
  margin: 40px auto 60px;
  border: none;
  border-top: 1px solid #ddd;
}


.services-cards {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.service-card {
  background: white;
}

.service-card img {
  width: 100%;
  height: 220px;
  border-radius: 20px;
  object-fit: cover;
  margin-bottom: 20px;
}

.service-card h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.service-card p {
  font-size: 14px;
  color: #555;
  line-height: 1.6;
  margin-bottom: 20px;
}


.btn-primary {
  background: #3fc36d;
  color: white;
  border: none;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}

.btn-outline {
  background: transparent;
  color: #333;
  border: 1px solid #bbb;
  padding: 12px 26px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}
